<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> <!--defines the encoding of the website, utf-8 is the standard-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--provides an HTTP header for the information/value of the content attribute. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--viewport settings related to mobile responsiveness-->
    <title>Virtual Bookcase</title> <!--title of the page-->

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        .title {
            position: relative;
            color:azure;
            text-align:center;
            font-size:75px;
            
        }
        .buttons{
            position: fixed;
            bottom: 300px;
            right: 650px;


        }


    </style>
</head>

<body style = "background-color: olivedrab;">

    <!-- Actual page content! -->
    <div class="title">
        <h1>Welcome to your virtual bookcase!</h1></div>
        <!--<h2 style = "color:aliceblue; text-align:center">Let's manage our books together <3 </h1>-->
    <div class="row">
        <div class="col s11 offset-s1"><span class="flow-text"><h2 style = "color:aliceblue; text-align:center">Let's manage our books together ♡ </h2></span></div></div>
        
    <div class = "buttons">
        <a class="waves-effect waves-light btn-large" href="/inventory" style="background-color:peru;color:cornsilk"><i class="material-icons left">book</i>Start</a>
    </div>

        

</body>

</html>